export DEPRECATED_ANTHROPIC_API_KEY="{{ pass://Nix/Anthropic/credential }}"
export DEPRECATED_OPENROUTER_API_KEY="{{ pass://Nix/OpenRouter/credential }}"
export GITHUB_TOKEN="{{ pass://Nix/Github/credential }}"
export STITCH_API_KEY="{{ pass://Nix/Stitch/credential }}"
